.side_nav {
    height: 100%;
    color: #111;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -160px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.right_side_nav {
    height: 100%;
    color: #111;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -160px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.open_nav{
    left: 0px;
    padding-left: 10px;
    color :white;
}
.open_right_nav{
    right: 0px;
    padding_right: 10px;
    color :white;
}
.side_nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.side_nav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.side_nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.gear{
    position: absolute;
    right: 7%;
    top: 44%;
    height: 29px
}
.profile{
    position: absolute;
    left: 7%;
    top: 44%;
    height: 29px
}
