header{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    top:0;
    left:0;
}

html {
    height: auto !important;
    padding-bottom: 20px !important;
}

div label input {
    margin-right:100px;
}

label {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: rgba(161, 205, 239, 0.63);
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #3f6480;;
}

.ck-button {
    height: 43px;
    margin-top: 2%;
    background-color: #EFEFEF;
    border-radius: 4px;
    border: 1px solid #D0D0D0;
    overflow: hidden;
    display: inline-block;
}

#refresh_btn{
    line-height: 36px;
}

.ck-button label {
    cursor: pointer;
    float:left;
    width:100%;
    height:100%;
}

.ck-button label span {
    text-align:center;
    padding:0 10px;
    display:block;
    height:100%;
    line-height: 3.5em;
}

.ck-button label input {
    position:absolute;
    top:-20px;
}

.toggle_cat{
    float:left
}

#gaming:checked + span, #gaming_sm:checked + span  {
    background-color: rgba(234, 93, 83, 1);
    color:#fff;
}

#news:checked + span, #news_sm:checked + span {
    background-color:#158065;
    color:#fff;
}

#entertainment:checked + span, #entertainment_sm:checked + span {
    background-color:rgba(14, 87, 195, 0.92);
    color:#fff;
}

 #misc:checked + span, #misc_sm:checked + span{
    background-color:rgba(208, 146, 55,1);
    color:#fff;
}

#people:checked + span, #people_sm:checked + span {
    background-color: rgba(40, 180, 197,1);
    color:#fff;
}

#sports:checked + span, #sports_sm:checked + span {
    background-color: #7e578f;
    color:#fff;
}

#change_view{
    background-color: grey;
    width: 8vw;
    float: left;
    text-align:center;
    padding:5px 10px 0 10px;
    display:block;
    height:100%;
    line-height: 5vh;
    /*padding-top: 5px;*/
}

#user_login{
    position: absolute;
    left: 75vw;
    top: 10px;
}

.about_btn{
    position: absolute;
    top: 2%;
    left: 15%;
}

h2.header_logo{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: 'Gruppo', cursive;
    top:  -0.5vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: -1px 2px 2px rgba(150, 150, 150, 1);
}

.logo_container {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.header_logo span {
    font-size: 3rem;
}

p.header_tagline{
    font-family: 'Gruppo', cursive;
    font-size: 1.5em;
}

.header_tagline {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nav-wrapper {
    font-weight: lighter;
    font-family: 'Quicksand', sans-serif;
    background-color: #718792;
}

.switch {
    left: 68%;
    position: absolute;
}

.switch label {
    color: white;
    font-size: 1.2em;
}

nav {
    height: 64px;
}

#top_nav{
    left: 1%;
    width: 458px;
    height: 64px;
    position: absolute;
}

#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: 0s;
    z-index: 1050;
}

img.logo {
    top:0;
    left:50%;
    transform: translate(-50%,0);
    width: 23vh;
    position: absolute;
    opacity: .5;
}

.section_label {
    margin: 2px 0;
    font-size: 1.5em;
}

.profile_pic_container{
    width: 5%;
    position: absolute;
    left: 80%;
    top: 0;
    padding-right: 1%;
}

.profile_pic{
    width: 4vw;
}

.fixed-action-btn{
    top:1px;
}

.model-content{
   color:black
}

/*************Preview********************/
#full-screen {
    background-color: rgba(38, 50, 56, 0.8);
    width:100%;
    height:100%;
    position: fixed;
    left:0;
    top:0;
    z-index: 1000;
    display: none;
}

#preview{
    z-index: 995;
    border-radius: 4px;
    font-family: 'Assistant', sans-serif;
    background-color: rgba(38, 50, 56, 0.8);
    width: 420px;
    height: 236px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    -webkit-box-shadow: -2px 3px 2px 0 rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -2px 3px 2px 0 rgba(50, 50, 50, 0.75);
    box-shadow:         -2px 3px 2px 0 rgba(50, 50, 50, 0.75);
    display:none;
}

#preview-btn-container {
    position: absolute;
    left:0;
    top:0;
    display: inline-block;
    z-index: 2;
}

.embed-btn {
    display: block;
}

#close_preview, #open_full, #close_full, #add_watch,#share_btn{
   position: static;
}

#close_preview:hover {
    cursor: pointer;
    cursor: hand;
}

#viewers_p{
    position: absolute;
    top: 23%;
    left: 5%;
    cursor: default;
}

#click_thumbnail{
    position: absolute;
    top: 29%;
    left: 5%;
}

#category_p {
    position: absolute;
    top: 17%;
    left: 5%;
    cursor: default;
}

.source_icon-f {
    font-size: 2rem;
    bottom: 22px;
    position: absolute;
    left: 4px;
}

.source_icon-m {
    font-size: 1.5rem;
    bottom: -20px;
    position: absolute;
    right: 4px;
}

#sign_out {
    height: 50px;
    width: 240px;
}

.sign_out_button {
    display:block;
    background-color: black;
}

.dropdown-button {
    padding: 0 25px 0 25px;
    background-color: #3a5c6d;
}

.dropdown-button:hover, .sign_out_button:hover {
    background-color: #4783b3;
}

.dropdown-content {
    background-color: rgba(90, 100, 103, .9);
}

.dropdown-content li:hover {
    background-color: #1d5773;
}

.dropdown-content li:hover {
    line-height: 2rem;
}

.watch_list_text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline;
    width: 61%;
    position: absolute;
}

.ul_title {
    font-size: 1.5em !important;
    color: white !important;
    text-align: center !important;
    padding-left: 4% !important;
    width: 100% !important;
}

#update_btn {
    color:white;
    position: absolute;
    border-radius: 7px;
    top: -3px;
    /*left: 46px;*/
    background-color: #306b97;
    padding: 0 10px;
    font-weight: 400;
    width: 3vw;
}

#update_btn_small {
    color:white;
    position: absolute;
    border-radius: 7px;
    top: -4px;
    left: 0;
    background-color: #306b97;
    padding: 0 10px;
    font-weight: 400;
    width: 36px;
}

.toasty {
    background-color: #306b97;
    color: white;
 }

#update_div, #update_div_sm {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(0,-50%);
    height: 50%;
    z-index: 2000;
}
#update_div_sm {
    right: 50%;
}

/************ Overall Stream Grid Containers ********************/
*{
    box-sizing: border-box;
}

div#main {
    width: 100vw;
    max-width:100%;
    overflow: hidden;
    margin: auto;
}

.fixed, .medium {
    box-shadow: 12px 17px 11px -4px rgba(0, 0, 0, 0.75);
    margin-bottom: 25px;
    cursor: pointer;
}

.medium, .fixed, .grid, .grid-f {
    width: 100%;
    left: 0;
    display: block;
}

/*************Isotope/Masonry Classes*************/

.grid-sizer-f,
.grid-item-f {
    float: left;
    width: 33.33%;
}

.grid-sizer,
.grid-item {
    float: left;
    width: 16.66%;
}

.grid-item-f--large{
    width: 33.33%;
}

.grid-item--medium {
    width: 16.66%;
}

.grid-item img, .grid-item-f img {
    width:100%;
}

.gaming {
    color:white;
    background-color:rgba(234, 93, 83,  0.8);
    position: relative;
}

.news {
    color:white;
    background-color: rgba(21,128,101,  0.8);
    position: relative;
}

.entertainment {
    color:white;
    background-color: rgba(14, 87, 195, 0.8);
    position: relative;
}

.misc {
    color:white;
    background-color:rgba(208, 146, 55, 0.8);
    position: relative;
}

.people {
    color:white;
    background-color:rgba(40, 180, 197,  0.8);
    position: relative;
}

.sports {
    color:white;
    background-color:rgba(126,87,143,  0.8);
    position: relative;
}

/****************************************/

.tooltipped:hover {
    color:white;
    border:none;
    cursor: pointer;
    cursor: hand;
}
ul#dropdown1.dropdown-content.active{
    width: 202% !important;
    left:unset !important;
    right:100% !important;
}
[data-tooltip]{
    position: absolute;

}
div#modal1.modal.open {
    max-height: 80%;
    width:96%;
}

.modal-fixed-footer.open {
  height:80%;
}

.live_chat {
    float:right;
    margin-right: 5%;
}

.live_video {
    float:left;
    margin-left: 4%;
}

p.welcome_text.valign {
    margin: 0 20px;
    font-size: 1.2em;
}

img.circle.profile-pic {
    margin-right: 5px;
    cursor: pointer;
    width:60px;
}

.live_video_now{
    font-size: 1.5em;
    padding: 10px;
    text-decoration: underline;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chip.live_chip{
    position: absolute;
    color: white;
    bottom: unset;
    border-radius: 25px;
    margin-top: -2px;
    right: 26px;
}

#dropdown1 li{
    width:100%;
    padding: 10px;
    font-size: 1.2em;
}

.remove_btn{
    background-color: #2c6e8e;
    right: 3%;
    position: absolute;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: 3px;
}

.firebaseui-container {
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    width: 235px;
    right: 1%;
    top: 100%;
    position: absolute;
    background-color: rgba(62, 75, 79, 0.93);

}

.login_menu{
    width: 124px;
    background-color: rgba(62, 75, 79, 0.8);
    border: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2000;
}

.mdl-textfield--floating-label.is-dirty .mdl-textfield__label{
    color:white;
}

.mdl-button--raised.mdl-button--colored {
    background: #9E9E9E;
}

.login_status {
    position: absolute;
    right: 7vw;
    cursor: pointer;
    font-size: 1.5em;
}

i.small.material-icons {
    position: relative;
    color: lightblue;
    display: inline-block;
}

div.valign-wrapper {
    justify-content: flex-end;
}

.modal-content{
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    color:white;
    background-color:#607D8B;
}

.modal.modal-fixed-footer .modal-footer{
    background-color: #ccbfbb;
}

.chip {
    z-index: 10;
    padding: 0 5px;
    border-radius: 0 7px 0 0;
    position: absolute;
    bottom: -2px;
    height: 25px;
    line-height: 25px;
}

/*------------------Hover Effects-------------------*/

p.video_title, p.channel_title {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    padding-right: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    max-width: 70%;
    text-align: right;
}

p.video_title{
    font-size: 2em;
    right: 20%;
    top: 23%;
    font-weight: 500
}

p.channel_title {
    font-size: 1.5em;
    right: 20%;
    top: 35%;
    margin-top: 2em;
    border-right: 4px solid #fff;
    font-weight: 400
}

.medium p.video_title{
    right: 10%;
    top: 6%;
    font-size: 1.5em;
    max-width:75%;
}

.medium p.channel_title{
    font-size: 1em;
    position: absolute;
    right: 10%;
    top: 20%;
    margin-top: 3em;
}

.view_count {
    font-weight: 500;
    position: absolute;

}

.fixed .view_count {
    font-size: 1em;
    left: 1%;
    bottom: 8%;
}

.medium .view_count {
    font-size: .9em;
    left: 20%;
    bottom: 0%;
}

.grid-item-f:hover .hover_effect, .grid-item:hover .hover_effect{
    display: block;
    visibility: visible;
}

.featured_title{
    padding: 0 0 0 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    z-index: 995;
    font-size: 1.7em;
    text-transform: uppercase;
}

.hover_effect {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.responsive{
    margin: 29% 0 0 0;
    border-radius: 8px;
    border:none;
    height: 10%;
}

ul.responsive_nav li{
    margin: 15px 13px 0 0;
}

#responsive_nav{
    position: absolute;
    top: 6px;
    left: 20%
}

.fixed-action-btn.horizontal{
    top:0;
    position: absolute;
    left: -2%;
    padding-top: 15px;
    z-index: 998;
}

a.btn-floating.btn-large{
    width: 43px;
    height: 43px;
    top: 20%;
    left: 5%;
    position: absolute;
}

.btn-floating.btn-large i {
    line-height: 43px;
}

.ck-button label span{
    line-height: 3.5em;
}

.category_icon{
    height: 2vh;
    width: 4vw;
    vertical-align: middle;
}

#toast-container {
    top: 10%;
    bottom: unset;
}

.fa-refresh, fa-arrow-up {
    font-size: 1.3em;
}

/********************Media queries***************************/
@media screen and (max-width: 1072px){
    * {
        cursor: pointer;
    }
    #share_btn{
        display: none;
    }
    img.circle.profile-pic {
        margin: 2px 12px;
        width: 60px;
    }
    h2.header_logo{
        font-size: 2.5rem;
    }
    .header_logo span{
        font-size: 2rem;
    }
    img.logo{
        width: 27vh;
    }
    #update_div{
        right:83%;
    }
    .grid-item-f:hover .hover_effect, .grid-item:hover .hover_effect{
        display: none;
        visibility: hidden;
    }
    .login_status {
        right: 5vw;
        cursor: pointer;
        z-index: 2000;
    }
    .right {
        z-index: 2000;
    }

    .login_menu{
        right: 15px;
        width: 100px;
    }

    .dropdown-button, .sign_out_button{
        width: 90px;
        margin: 0 auto;
        padding: 0 8px 0 8px;
    }
    i#refresh_btn_small {
        line-height: inherit !important;
    }
    a#update_btn_small {
        transform: translate(-50%);
    }
/*********************Changed isotope classes***************/
    .grid-sizer-f,
    .grid-item-f {
        float: left;
        width: 50%;
    }

    .grid-sizer,
    .grid-item {
        float: left;
        width: 33.33%;
    }

    .grid-item-f--large{
        width: 50%;
    }

    .grid-item--medium {
        width: 33.33%;
    }

/******************End isotope classes********************/
}

@media only screen and (max-width: 1200px) and (min-width: 985px ){
    .welcome_text {
        display: none !important;
    }
    div.switch.hide-on-med-and-down {
       left: 70%;
    }
    #update_div {
        left: unset;
        right: 105px;
    }
    .info_tooltip {
        display:none;
    }
    #top_nav {
        left: -3%;
    }
}

@media only screen and (max-width: 1072px) and (min-width: 985px ){
    .header_tagline.hide-on-med-and-down {
        display: none;
    }

}

