body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    background-color: darkgray;
    width: 960px;
    height: 700px;
    margin-top: 10px;
}

#main {
    float: left;
    width: 750px;
}

#sidebar {
    width: 100px;
    position: absolute;
    top: 70%;
    left: 85%;
}

#sequence {
    width: 600px;
    height: 70px;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

#chart {
    position: absolute;
    top: 1%;
    left: 17%;
}

#chart path {
    stroke: #fff;
}
#thumbnail{
    position: absolute;
    top: 20%;
    left: 26%;
    height: 60%;
    width: 48%;
    border-radius: 50%;
    z-index: -2;
    overflow: hidden;
}

#explanation {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 37%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: yellow;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.8;
}

#percentage,#title {
    font-size: 1.5em;
}