<div id="preview">
    <div id="preview_details">
        <span id="close_preview"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
        <span id="preview_title"></span>
        <p id="category_p">Category: <span id="preview_category"></span></p>
        <p id="viewers_p">Viewers: <span id="preview_viewers"></span></p>
        <br><p id="click_thumbnail"><small>Click here to view stream<i class="fa fa-angle-double-down" aria-hidden="true"></i></small></p>
    </div>
    <a href="#modal1"><img src="images/noimage.jpg" id="preview_thumb"></a>
</div>
<stream-category section="{label: 'Featured Streams', size: 'large', sizer: 'grid-sizer-l', grid: 'grid-l', 'grid_item': 'grid-item-l grid-item--large'}" streams = "$ctrl.array[0]"></stream-category>
<stream-category section="{label: 'Other Great Streams', size: 'medium', sizer: 'grid-sizer-m', grid: 'grid-m', 'grid_item': 'grid-item-m grid-item--medium'}" streams="$ctrl.array[1]"></stream-category>
<stream-category section="{label: 'Discover New Streams', size: 'small', sizer: 'grid-sizer-s', grid: 'grid-s', 'grid_item': 'grid-item-s grid-item--small'}" streams="$ctrl.array[2]"></stream-category>