body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    /*background-color: #333131;*/

}
#sunburst_sequence_container{
    width: 100vw;
    height: 100vh;
    /*position: absolute;*/
}

#sidebar {
    width: 100px;
    position: absolute;
    top: 70%;
    left: 85%;
}

#sequence {
    width: 600px;
    height: 70px;
}

#legend {
    padding: 10px 0 0 3px;
}

#sequence text, #legend text {
    font-weight: 600;
    fill: #fff;
}

/*#chart {*/
    /*position: absolute;*/
    /*top: 10%;*/
    /*left: 20%;*/
/*}*/



#chart path {
    stroke: #fff;
}

.viewport {
    position: absolute;
    top: 24.5%;
    left: 27.4%;
    width: 50.5%;
    height: 96%;
    z-index: -2;
    overflow: hidden;
    border-radius: 50%;
}
.bigport{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -10%;
    left: -33%;
    transition: height 2s, width 2s;
}

#thumbnail{
    /*position: absolute;*/
    /*top: 10%;*/
    /*left: 20%;*/
    height: 100%;
    width: 100%;

}

#explanation {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 37%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: yellow;
    z-index: 0;
    transform: translate(-50%, -50%);
    background-color: black;
    opacity: 0.8;
}

#percentage,#title {
    font-size: 1.5em;
}