.row{
    background-color: #8c9aff;
    height: 10vh;
    width: 10vw;
}
#center{
    background-color: #74ada0;
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 25vh;
    left: 25vw;
}
#biggy{
    border: solid black 1px;
    height: 100%;
    width: 100%;
}
#top_row{
    position: absolute;
    left: 45vw;
}
#left{
    position: absolute;
    left: 100vw;
}